.custom-card {
    height: 350px;
    width: 250px;
    margin: 25px;
    padding: -20px;
    box-shadow: 10px 10px 10px 10px; 
}

.header-block {
    display: inline-block;
    height: 30px;
}
.card-header {
    display: inline;
    margin: 0px;
    padding:10px;
}
.card-body {
    border-top: 1px solid #707070;
    padding: 10px;
    display: block;
}

.card-footer {
    width: 200px;
    height:75px; 
    padding: 5px;
    margin:0px;
    position: relative;
}
    
.fare-div {
    padding: 5px;
    vertical-align: bottom;
    text-align:right;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.button-div {
    padding: 5px;
    vertical-align: bottom;
    text-align: left;
    float:left;
    position: absolute;
    bottom: 0;
}
